Programma/PdfConverter-DataAnalyzer/util/__pycache__/dataCollect.cpython-37.pyc
Programma/PdfConverter-DataAnalyzer/util/__pycache__/exportData.cpython-37.pyc
Programma/PdfConverter-DataAnalyzer/util/__pycache__/pdfConverter.cpython-37.pyc
Programma/PdfConverter-DataAnalyzer/util/__pycache__/setupGui.cpython-37.pyc
Programma/PdfConverter-DataAnalyzer/__pycache__/pdfConverterGui.cpython-37.pyc
Programma/pdfConverter-venv/
Programma/PdfConverter-DataAnalyzer/lib/Wget/__pycache__/wget.cpython-37.pyc
